@font-face {
  font-family: "osrs-normal";
  src: url("/runescape.ttf") format("truetype");
}
@font-face {
  font-family: "osrs-bold";
  src: url("/runescape_bold.ttf") format("truetype");
}

@font-face {
  font-family: "osrs-small";
  src: url("/runescape_small.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --osrs-yellow: #ffcf3f;
  --osrs-gold: #e6a519;
  --osrs-brown: #694d23;
  --osrs-dark-brown: #382d1a;
  --osrs-black: #0f0f0f;
  --osrs-green: #00ff00;
  --osrs-red: #ff0000;
  --osrs-blue: #0088ff;
  --osrs-chat: #00ffff;
  --osrs-background: #2e2c29;
  --osrs-border: #474745;
  --osrs-panel: #46433a;
}

body {
  font-family: "osrs-normal", sans-serif;
  font-size: 16px;
  background-color: var(--osrs-background);
  margin: 0;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: var(--osrs-background);
  padding: 1em 0;
}

.result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar {
  width: 100%;
  background-color: var(--osrs-panel);
  color: var(--osrs-gold);
  box-shadow: var(--osrs-black) 2px 2px 2px 2px;
  text-shadow: var(--osrs-black) 2px 2px 2px;
  border: var(--osrs-border) 2px solid;
  padding: 0.5em;
  list-style-type: none;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--osrs-gold);
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  background-color: var(--osrs-yellow);
  color: var(--osrs-black);
  text-shadow: none;
}

a:active {
  color: var(--osrs-yellow);
}

.error-message {
  color: var(--osrs-red);
  font-weight: bold;
  margin: 0.5em;
  font-size: 1.2em;
  text-shadow: black 2px 2px 2px;
}

h1 {
  font-family: "osrs-bold", sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  color: var(--osrs-gold);
  text-shadow: var(--osrs-black) 2px 2px 2px;
  border: solid var(--osrs-border) 5px;
  padding: 0.5em;
  margin: 0 2.5vw 5vh 2.5vw;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-name-input {
  padding: 0.5em;
  text-align: center;
  box-shadow: var(--osrs-black) 2px 2px 2px 2px;
  background-color: var(--osrs-panel);
  border: var(--osrs-border) 2px solid;
  color: var(--osrs-yellow);
  font-family: "osrs-small", sans-serif;
  font-size: 1.5em;
  width: 65vw;
  max-height: 5vh;
}
.player-name-input:focus {
  outline: none;
  border: var(--osrs-yellow) 2px solid;
}

.highscore-container,
.catfact-container {
  max-width: 50%;
  min-width: 50%;
  min-height: 100vh;
}

.hiscoreText,
.loading-message,
.cat-fact-text {
  font-weight: bold;
  font-size: 1em;
  color: var(--osrs-yellow);
  text-shadow: var(--osrs-black) 2px 2px 2px;
  margin: 0.5em;
  text-align: center;
}

h3 {
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1.5em;
  color: var(--osrs-gold);
  background: var(--osrs-panel);
  font-weight: bold;
  text-shadow: var(--osrs-black) 2px 2px 2px;
  box-shadow: var(--osrs-black) 2px 2px 2px 2px;
  border: var(--osrs-border) 2px solid;
  text-align: center;
}
.search-button {
  margin: 2em;
  padding: 0.5em;
  min-width: 25vw;
  cursor: pointer;
  font-family: "osrs-bold", sans-serif;
  font-size: 1em;
  background-color: var(--osrs-background);
  color: var(--osrs-yellow);
  box-shadow: var(--osrs-black) 2px 2px 2px 2px;
  text-shadow: var(--osrs-black) 2px 2px 2px;
  border: var(--osrs-border) 2px solid;
  flex-direction: row;
  border-radius: 25px;
}

.search-again-button,
.more-cat-fact {
  margin: 1em;
  padding: 0.5em;
  cursor: pointer;
  font-family: "osrs-bold", sans-serif;
  font-size: 1em;
  background-color: var(--osrs-panel);
  color: var(--osrs-yellow);
  box-shadow: var(--osrs-black) 2px 2px 2px 2px;
  text-shadow: var(--osrs-black) 2px 2px 2px;
  border: var(--osrs-border) 2px solid;
  flex-direction: row;
}

.search-button:hover,
.search-again-button:hover,
.more-cat-fact:hover {
  background-color: var(--osrs-yellow);
  color: var(--osrs-black);
  text-shadow: none;
}

@media screen and (max-width: 360px) {
  .navbar a {
    font-size: 4vw;
  }

  h1 {
    font-size: 6.5vw;
  }

  h3 {
    font-size: 4vw;
  }

  .hiscoreText,
  .cat-fact-text {
    font-size: 3.5vw;
  }

  .search-button,
  .search-again-button,
  .more-cat-fact {
    font-size: 4vw;
  }
}
